.cover
{
	background-color: rgb(102, 255, 51);
}

@font-face {
    font-family: nasim;
    src: url(../fonts/393b712c01cdf4eb7f15d9180567345060f101241011931.ttf);
}
.wrapper {
	
	
}
.header {
	padding-bottom: none;
}
.content {
	 /* Height of the footer element */
}

.footer {
	width:100%;
	bottom: 0;
	text-align: center;
	color:white;
	margin: 0;
	color: white;
	font-size: 16px;
	padding:0;
	font-family: nasim;
	background-image: url("../images/footer-background.png");
	margin-top: 20px;
}

.footer-body
{
	margin-top: 20px;
	color: black;
}

.footer-header
{
	vertical-align: center;
	font-family: nasim;
	direction: rtl;
	text-align: center;
	font-size: 30px;
	background-color: rgb(220,60,0);
	display: inline;
}

.copyright
{
	margin-top: 20px;
	color: black;
	font-weight: bold;
}

.slider
{
}

.panel
{
	direction: rtl;
}

.panel-heading , .panel-footer
{
	font-family: nasim;
}

.New
{
	background-image: url("../images/footer-background.png");
	margin-bottom: 20px;
	font-family: nasim;
	direction: rtl;
}

.new-footer
{
	margin-bottom: 20px;
}